.main-contact-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(212, 217, 219, 0.5);
  .container {
    background-color: #ccc;
    opacity: 0.87;
    position: absolute;
    z-index: 100;
    top: 0px;
    border-radius: 20px;
    margin-top: 5px;
    .navbar-brand {
      font-size: 32px;
      padding: 8px;
    }
    .navbar-toggler {
      opacity: 1;
      color: black;
      border: 2px solid #727272;
      border-radius: 10px;
      .navbar-toggler-icon {
        opacity: 1;
        width: 2em;
        height: 2em;
      }
    }
    .navbar {
      padding: 0;
    }
  }

  .navbar-nav {
    .nav-item {
      font-size: 22px;
      .Ripple-parent {
        color: #303030 !important;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  h1 {
    font-family: "Lacquer";
    font-size: 70px;
  }
  span {
    margin-top: 80px;
    font-family: "Lacquer";
    font-size: 50px;
  }
  .greta {
    background-image: url(../images/pngguru.com.png);
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    opacity: 0.8;
    margin-top: 30px;
  }
}
