.receivedRecipes-container {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Kanit";
  padding: 8px;
  overflow: auto;
  border-radius: 15px;
  .recipe-title {
    font-size: 30px;
  }
}
