.receivedRecipes-container{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Kanit', ;
    .recipe-title{
        font-size: 30px;
    }
    
}

// font-family: 'Kanit', ;
//     line-height: 22px;
//     font-size: 20px;