
.detail-container{
    .title-img-container{
        p{
            font-size: 28px;
            font-weight: 700;
        }
    }
    .summary-container{
        font-family: 'Kanit', ;
        line-height: 22px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        line-height: 22px;
        }
}

