.detail-container{
    .title-img-container{
        p{
            font-size: 28px;
            font-weight: 700;
        }
    }
    .summary-container{
        font-family: 'Kanit', ;
        line-height: 22px;
        font-size: 20px;
        line-height: 22px;
        // hyphens: auto;
        }
}




